* {
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}

:root {

}

html {
    box-sizing: border-box;
    font-size: 16px;
}

/* FOOTER */

.attribution { 
    font-size: 14px; 
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.attribution a {
    color: hsl(228, 45%, 44%); 
}